* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

    *:before, *:after {
        box-sizing: border-box;
    }

html {
    background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainContainer {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

    .mainContainer .cabecera {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: auto;
        min-width: 240px;
        padding-bottom: 10px;
    }

        .mainContainer .cabecera h1:first-child {
            width: 100%;
            color: #2d2f2e;
            font-size: 28px;
            text-transform: uppercase;
            padding: 20px 0 3px 0;
            display: block;
            text-align: center;
            margin: 0px;
            font-family: 'Roboto', sans-serif;
        }

        .mainContainer .cabecera span {
            width: 100%;
            color: #2d2f2e;
            font-size: 16px;
            padding: 0px 0 10px 0;
            display: block;
            font-weight: normal;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }

    .mainContainer .middle {
        width: 100%;
        height: 350px;
        padding: 2px 0 7px 0;
        position: relative;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    .mainContainer span.title {
        width: 100%;
        color: #2d2f2e;
        font-size: 20px;
        padding: 12px 0 7px 0;
        display: block;
        font-weight: normal;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .mainContainer .middle .remoter {
        width: 200px;
        height: 300px;
        background: #a3a3a3;
        border: 1px solid #817e75;
        box-shadow: 0 0 0 3px #cacbc5, 5px 3px 10px 6px rgba(0, 0, 0, 0.4);
        border-radius: 10px 10px 30px 30px;
        position: absolute;
        bottom: 10%;
        left: 10%;
        right: 10%;
        margin: 5px auto;
    }

        .mainContainer .middle .remoter:before, .remoter:after {
            content: "";
            display: block;
            position: absolute;
        }

        .mainContainer .middle .remoter:before {
            width: 6px;
            height: 2px;
            border-radius: 1px;
            z-index: -1;
            position: absolute;
            left: 30px;
            top: 0;
            -webkit-transition: top .2s;
            transition: top .2s;
            box-shadow: 0 0 10px 7px rgba(255, 0, 0, 0.7);
        }

        .mainContainer .middle .remoter .btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid #2d2f2e;
            position: absolute;
        }

            .mainContainer .middle .remoter .btn:hover {
                cursor: pointer;
                border-color: #464948;
            }

        .mainContainer .middle .remoter .btn-prev {
            top: 70px;
            left: 20px;
            background: #2d2f2e;
        }

            .mainContainer .middle .remoter .btn-prev .icon {
                width: 24px;
                height: 24px;
                background: #2d2f2e;
                position: relative;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

                .mainContainer .middle .remoter .btn-prev .icon .fas {
                    width: 20px;
                    height: 24px;
                    position: absolute;
                    color: white;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    right: 0px;
                    font-size: 24px;
                    margin: 0px auto;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

        .mainContainer .middle .remoter .btn-next {
            top: 70px;
            right: 20px;
            background: #2d2f2e;
        }

            .mainContainer .middle .remoter .btn-next .icon {
                width: 24px;
                height: 24px;
                background: #2d2f2e;
                position: relative;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

                .mainContainer .middle .remoter .btn-next .icon .fas {
                    width: 20px;
                    height: 24px;
                    position: absolute;
                    color: white;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    right: 0px;
                    font-size: 24px;
                    margin: 0px auto;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

        .mainContainer .middle .remoter .btn-repeat {
            top: 70px;
            right: 0px;
            left: 0px;
            margin: 0px auto;
        }

            .mainContainer .middle .remoter .btn-repeat.active {
                border-color: #5f6361;
            }

            .mainContainer .middle .remoter .btn-repeat .icon {
                font-size: 18px;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%) scale(0.6);
                transform: translate(-50%, -50%) scale(0.6);
            }

        .mainContainer .middle .remoter .btn-pause {
            top: 180px;
            right: 20px;
        }

            .mainContainer .middle .remoter .btn-pause.active .icon:before, .remoter .btn-pause.active .icon:after {
                width: 0;
                height: 0;
                background: transparent;
            }

            .mainContainer .middle .remoter .btn-pause.active .icon:before {
                border-style: solid;
                border-width: 5px 10px;
                border-color: transparent transparent transparent #2d2f2e;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-20%, -50%);
                transform: translate(-20%, -50%);
            }

            .mainContainer .middle .remoter .btn-pause .icon {
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

                .mainContainer .middle .remoter .btn-pause .icon:before, .remoter .btn-pause .icon:after {
                    content: "";
                    display: block;
                    position: absolute;
                }

                .mainContainer .middle .remoter .btn-pause .icon:before, .remoter .btn-pause .icon:after {
                    width: 4px;
                    height: 10px;
                    background: #2d2f2e;
                    position: absolute;
                    top: -5px;
                }

                .mainContainer .middle .remoter .btn-pause .icon:before {
                    right: 2px;
                }

                .mainContainer .middle .remoter .btn-pause .icon:after {
                    left: 2px;
                }

        .mainContainer .middle .remoter .btn-vol-up {
            top: 15px;
            right: 0px;
            left: 0px;
            margin: 0px auto;
            background: #2d2f2e;
        }

            .mainContainer .middle .remoter .btn-vol-up .icon {
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

                .mainContainer .middle .remoter .btn-vol-up .icon .fas {
                    width: 20px;
                    height: 24px;
                    position: absolute;
                    color: white;
                    top: 0px;
                    left: 0px;
                    text-align: center;
                    right: 0px;
                    font-size: 24px;
                    margin: 0px auto;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

        .mainContainer .middle .remoter .btn-vol-down {
            top: 125px;
            right: 0px;
            left: 0px;
            margin: 0px auto;
            background: #2d2f2e;
        }

            .mainContainer .middle .remoter .btn-vol-down .icon {
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }


                .mainContainer .middle .remoter .btn-vol-down .icon .fas {
                    width: 20px;
                    height: 24px;
                    position: absolute;
                    color: white;
                    top: 0px;
                    left: 0px;
                    text-align: center;
                    right: 0px;
                    font-size: 24px;
                    margin: 0px auto;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

        .mainContainer .middle .remoter .vol-label {
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 230px;
            right: 15px;
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
        }

    .mainContainer .play-cover {
        display: none;
    }

@media screen and (max-width: 414px) {
    .mainContainer h1 {
        text-indent: 0;
        text-align: center;
    }

    .mainContainer .play-cover {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }

        .mainContainer .play-cover:before, .play-cover:after {
            content: "";
            display: block;
            position: absolute;
        }

        .mainContainer .play-cover:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 60px;
            border-color: transparent transparent transparent #fff;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
        }

        .mainContainer .play-cover:after {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid #fff;
            background: transparent;
            box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
}
